<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Username</label>
</span>


<div class="container my-5">
    <h1 class="mb-3">
        Add New
    </h1>
    <form #form="ngForm" (ngSubmit)="addEmployeeFunc()">
      <!-- <p>
        <mat-toolbar color="primary">
          <span>ADD</span>
        </mat-toolbar>
      </p> -->
      <span class="p-float-label" >
        <input [(ngModel)]="employee.name" id="name" name="name" type="text"  pInputText> 
        <label for="name">Name</label>
      </span>

      <span class="p-float-label" >
        <input  [(ngModel)]="employee.email" id="email" name="email" type="text"  pInputText> 
        <label for="email">Email</label>
      </span>  
       
      <span class="p-float-label" >
        <input [(ngModel)]="employee.phone" id="phone" type="text"  pInputText> 
        <label for="phone">Phone</label>
      </span>  
      <span class="p-float-label" >
        <input [(ngModel)]="employee.salary" id="salary" type="text"  pInputText> 
        <label for="salary">Salary</label>
      </span>  
      <!-- <span class="p-float-label" >
        <input [(ngModel)]="employee.salary" id="salary" type="text"  pInputText> 
        <label for="salary">Salary</label>
      </span>   -->

      <!-- <span class="p-float-label" >
        
        <label for="salary">Department</label>
      </span>   -->


      <p-dropdown [options]="departments" [(ngModel)]="employee.departmentId" placeholder="Department" optionLabel="name" optionValue="id" [showClear]="true"></p-dropdown>

        <!-- <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" d="email" 
          name="email" [(ngModel)]="employee.email">
        </mat-form-field> -->
        
          <!-- <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="phone" d="phone" 
            name="phone" [(ngModel)]="employee.phone">
          </mat-form-field> -->
         
          <!-- <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Salary</mat-label>
            <input matInput placeholder="salary" id="salary" 
            name="salary" [(ngModel)]="employee.salary">
          </mat-form-field>
          

          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label>Select Dept</mat-label>
            <mat-select id="departmentId"  
            name="departmentId" [(ngModel)]="employee.departmentId" >
              <mat-option *ngFor="let item of departments" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
           
          </mat-form-field>
          
           
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Department</mat-label>
            <input matInput placeholder="department" id="departmentName" 
            name="departmentName"  [(ngModel)]="employee.departmentName">
          </mat-form-field> -->
        <button mat-raised-button color="primary" type="submit" class="mr-5">Submit</button>
      </form>
</div>